.form {
  .formTitle {
    font-size: 24px;
  }
  .formLabel {
    font-size: 1.125rem !important;
  }
  .formImage {
    .inputImage {
      width: 52%;
      border: none;
      padding: 0;
      border-radius: 0;

      &:focus {
        border: none;
      }
      &:hover {
        border: none;
      }
    }
    .imagePreview {
      margin-top: 10px;
      max-width: 200px;
      height: auto;
      border: 1px solid #ccc;
      padding: 5px;
    }
  }
  input,
  select {
    font-size: 1.125rem !important;
  }
}
