@import "../../styles/shared.scss";

.container_dashboard {
  @extend .container_dashboard_base;

  .title {
    @extend .title_base;
  }

  .subtitle {
    @extend .subtitle_base;
  }

  .tableNewUser {
    .userInfo {
      display: flex;
      text-align: start;
      padding-left: 0;

      .avatar {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .userDetails {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
      }

      .userName {
        display: block;
        font-style: italic;
      }
    }
  }

  .tablePaymentHistory {
    .textDescription {
      @extend .tablePaymentHistory;
    }
  }
}
